<div>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <img src="../../../assets/images/loading.gif" class="card-img-top" alt="...">
          <h5 class="card-title">Phishing Shark is ready</h5>
          <p class="card-text">We will help you once you navigated to a web site</p>
          <a class="btn btn-link" (click)="seeReport()">See Report</a>
        <button type="submit" class="btn btn-link" (click)="manualCheck()">Manual Check</button>
        <button type="submit" class="btn btn-link" (click)="howToPrevent()">How to prevent</button>
        </div>
    </div>
</div>
