<div>
    <div class="card" style="width: 25rem;">
      <img src="../../../assets/images/check-green.gif" class="card-img-top center">
        <div class="card-body">
          <h5 class="card-title">This site is protected</h5>
          <p class="card-text">You can use the web site without any doubts</p>
          <a class="btn btn-link" (click)="seeReport()">See Report</a>
        <button type="submit" class="btn btn-link" (click)="manualCheck()">Manual Check</button>
        <button type="submit" class="btn btn-link" (click)="howToPrevent()">How to prevent</button>
        </div>
    </div>
</div>