
<div>
    <div class="card" style="width: 25rem;">
        <!-- <img src="../../../assets/images/check-green.gif" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">How to prevent from cyberatatcks</h5>

          <form>
                    <ul>
            <li>Keep your software up to date
                <ul>
                    <li>Often cyber attacks happen because your systems or software aren’t fully up to date, leaving weaknesses.</li>
                </ul>
            </li>
            <li>Install a Firewall
                <ul>
                    <li>Putting your network behind a firewall is one of the most effective ways to defend yourself from any cyber attack.</li>
                </ul>
            </li>
            <li>Backup your data
                <ul>
                    <li>In the event of a disaster (often a cyber attack) you must have your data backed up to avoid serious downtime, loss of data and serious financial loss.
                    </li>
                </ul>
            </li>
        </ul>
            
        <a class="btn btn-primary" (click)="goToBackPage()">Go back</a>
        <a class="btn btn-link" (click)="seeReport()">See Report</a>
        <button type="submit" class="btn btn-link" (click)="manualCheck()">Manual Check</button>
          </form>
        </div>
    </div>
</div>