<div>
    <div class="card" style="width: 25rem;">
        <img src="../../../assets/images/not_protected.gif" style="padding-right: 28px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">This site is not protected</h5>
          <p class="card-text">This web site is detected as a melicious web site. So, please carefull when proving personal credentials or any card details</p>
          <a class="btn btn-link" (click)="seeReport()">See Report</a>
        <button type="submit" class="btn btn-link" (click)="manualCheck()">Manual Check</button>
        <button type="submit" class="btn btn-link" (click)="howToPrevent()">How to prevent</button>
        </div>
    </div>
</div>